// #background-canvas {
//   z-index: 1;
//   position: absolute;
//   top: 300;
//   left: 300
// }
//
// #game-canvas {
//   position: absolute;
//   top: 300;
//   left: 300
// }

.soundStart {
  display: block;
  position: relative;
  z-index: 1;
  top: -490;
  left: -15;
}

.soundEnd {
  display: block;
  position: relative;
  z-index: 1;
  top: -425;
  left: -55;
}
.soundGame {
  display: block;
  position: absolute;
  z-index: 1;
  top: 160;
  left: 40;
}

.soundSumo {
  display: none;
}

#muted {

}
